@charset "utf-8";

/*设置通用字体*/

body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', PingFangSC-Light, 'Microsoft Yahei', sans-serif;
	background-color: #ebebeb;
}
.navbar-header img{	
	max-width: 80px;
}
#myCarousel img {
	margin: 0 auto;
}
.carousel-inner {
	max-height: 500px;
}
.pic1 {
	background-color: #cfd2d8;
}
.pic2 {
	background-color: #ebece7;
}
.pic3 {
	background-color: #4d5d57;
}
.joinus,#footer{
	margin: 10px auto;
	text-align:center;
	color: #af2956; 
	font-size:28px; 
}
.joinus span{
	color: #3463a5;  
	font-weight: bold;
}
.joinus p{
	color:#666;
	font-size:18px;
}

.introduce,.news{
	margin-top: 30px auto;
	text-align: center;
}
.col{
	margin: 0 auto;
}
.info h2{
	color: #af2956;
}
.news h1{
	margin-top: 50px;
	color: #3463a5;
}
.news img{
	position: relative;
	left: -20px;
	width: 320px;
	margin-top: 45px;
	opacity: 0.9;
}
.news span{
	position: absolute;
    margin-left: -80px;
    top: 50%;
    left: 50%;
    font-size: 32px;
    color: floralwhite;
    text-align:center;
    z-index: 1;
    letter-spacing: 5px;
}
.news a:hover img {
	opacity: 1.0;
}
#footer{
	margin-top: 100px;
}
#footer span{
	color:#3463a5 ;
}
#footer p{
	text-align: center;
    font-size: 12px;
    color: #A8A8A8;
}
/*媒体查询*/

/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {
	.carousel-caption {
		bottom: 150px;
	}
	.joinus{
		font-size: 35px;
	}
	.joinus span{
		font-size: 40px;
	}
	.joinus p{
		font-size: 22px;
	}
	.news img{
		width: 360px;
	}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {
	.carousel-caption {
		bottom: 250px;
	}
	.joinus{
		font-size: 40px;
	}
	.joinus span{
		font-size: 45px;
	}
	.joinus p{
		font-size: 24px;
	}
	.news img{
		width: 320px;
	}
}


/* 大屏幕（大桌面显示器，大于等于 1200px） */

@media (min-width: 1200px) {
	.carousel-caption {
		bottom: 300px;
	}
		.joinus{
		font-size: 46px;
	}
	.joinus span{
		font-size: 52px;
	}
	.joinus p{
		font-size: 30px;
	}
	.news img{
		width: 360px;
	}
}